<div class="available-slider" data-slider="available">
	<div class="available-slider__wrapper">
		<div class="available-slider__slide">
			<picture class="available-slider__picture">
				<source srcset="@img/available/slider/slide-01.webp" type="image/webp" />
				<img
					src="@img/available/slider/slide-01.jpg"
					class="available-slider__image"
					alt=""
					width="1608"
					height="1372"
					loading="lazy"
				/>
			</picture>
		</div>
		<div class="available-slider__slide">
			<picture class="available-slider__picture">
				<source srcset="@img/available/slider/slide-02.webp" type="image/webp" />
				<img
					src="@img/available/slider/slide-02.jpg"
					class="available-slider__image"
					alt=""
					width="1608"
					height="1372"
					loading="lazy"
				/>
			</picture>
		</div>
		<div class="available-slider__slide">
			<picture class="available-slider__picture">
				<source srcset="@img/available/slider/slide-01.webp" type="image/webp" />
				<img
					src="@img/available/slider/slide-01.jpg"
					class="available-slider__image"
					alt=""
					width="1608"
					height="1372"
					loading="lazy"
				/>
			</picture>
		</div>
		<div class="available-slider__slide">
			<picture class="available-slider__picture">
				<source srcset="@img/available/slider/slide-02.webp" type="image/webp" />
				<img
					src="@img/available/slider/slide-02.jpg"
					class="available-slider__image"
					alt=""
					width="1608"
					height="1372"
					loading="lazy"
				/>
			</picture>
		</div>
		<div class="available-slider__slide">
			<picture class="available-slider__picture">
				<source srcset="@img/available/slider/slide-01.webp" type="image/webp" />
				<img
					src="@img/available/slider/slide-01.jpg"
					class="available-slider__image"
					alt=""
					width="1608"
					height="1372"
					loading="lazy"
				/>
			</picture>
		</div>
		<div class="available-slider__slide">
			<picture class="available-slider__picture">
				<source srcset="@img/available/slider/slide-02.webp" type="image/webp" />
				<img
					src="@img/available/slider/slide-02.jpg"
					class="available-slider__image"
					alt=""
					width="1608"
					height="1372"
					loading="lazy"
				/>
			</picture>
		</div>
	</div>
	<div class="available-slider__controls">
		<button
			type="button"
			class="available-slider__arrow available-slider__arrow--prev _icon-arrow-down"
			aria-label="Previous slide"
			data-slider-prev
		></button>
		<button
			type="button"
			class="available-slider__arrow available-slider__arrow--next _icon-arrow-down"
			aria-label="Next slide"
			data-slider-next
		></button>
	</div>
</div>
