<div class="reviews-slider" data-slider="reviews">
	<div class="reviews-slider__wrapper">
		<div class="reviews-slider__slide slide-reviews">
			<h2 class="slide-reviews__title title title--s">Testimonials</h2>
			<p class="slide-reviews__description">
				I would like to thank Daitona and all of the other Inland Homes representatives for helping
				me purchase my new home. From the sales experience to the move-in, everyone on the team was
				helpful and supportive. The quality of the workmanship of the home is excellent. Just a
				great all-around experience.
			</p>
			<div class="slide-reviews__user user-review">
				<span class="user-review__avatar">
					<img
						class="user-review__image"
						src="@img/reviews/user-avatar.png"
						alt=""
						width="120"
						height="120"
						loading="lazy"
					/>
				</span>
				<div class="user-review__info">
					<span class="user-review__name">Jennifer M.</span>
					<span class="user-review__position">Home Owner</span>
				</div>
			</div>
		</div>
		<div class="reviews-slider__slide slide-reviews">
			<h2 class="slide-reviews__title title title--s">Testimonials</h2>
			<p class="slide-reviews__description">
				I would like to thank Daitona and all of the other Inland Homes representatives for helping
				me purchase my new home. From the sales experience to the move-in, everyone on the team was
				helpful and supportive. The quality of the workmanship of the home is excellent. Just a
				great all-around experience.
			</p>
			<div class="slide-reviews__user user-review">
				<span class="user-review__avatar">
					<img
						class="user-review__image"
						src="@img/reviews/user-avatar.png"
						alt=""
						width="120"
						height="120"
						loading="lazy"
					/>
				</span>
				<div class="user-review__info">
					<span class="user-review__name">Jennifer M.</span>
					<span class="user-review__position">Home Owner</span>
				</div>
			</div>
		</div>
		<div class="reviews-slider__slide slide-reviews">
			<h2 class="slide-reviews__title title title--s">Testimonials</h2>
			<p class="slide-reviews__description">
				I would like to thank Daitona and all of the other Inland Homes representatives for helping
				me purchase my new home. From the sales experience to the move-in, everyone on the team was
				helpful and supportive. The quality of the workmanship of the home is excellent. Just a
				great all-around experience.
			</p>
			<div class="slide-reviews__user user-review">
				<span class="user-review__avatar">
					<img
						class="user-review__image"
						src="@img/reviews/user-avatar.png"
						alt=""
						width="120"
						height="120"
						loading="lazy"
					/>
				</span>
				<div class="user-review__info">
					<span class="user-review__name">Jennifer M.</span>
					<span class="user-review__position">Home Owner</span>
				</div>
			</div>
		</div>
	</div>
	<div class="reviews-slider-pagination" data-slider-pagination></div>
</div>
