@use '@scss' as *;
@use '@scss/breakpoints' as breakpoint;

%menu-link {
	--sss-header-menu-link-color: var(--sss-link-secondary);
	--sss-header-menu-link-color-hover: var(--sss-link-secondary-hover);
	--sss-header-menu-link-color-active: var(--sss-link-secondary-active);

	position: relative;
	z-index: 1;
	font-weight: 700;
	text-transform: capitalize;
	white-space: nowrap;
	color: var(--sss-header-menu-link-color, var(--sss-link-primary));

	@include breakpoint.tab {
		--sss-header-menu-link-color: var(--sss-link-primary);
		--sss-header-menu-link-color-hover: var(--sss-link-primary-hover);
		--sss-header-menu-link-color-active: var(--sss-link-primary-active);
	}

	@include adaptiveValue('font-size', 16, 20, 768, $min-outside: 28);

	@media (any-hover: hover) {
		&:hover {
			color: var(--sss-header-menu-link-color-hover);
		}
	}

	&:active {
		color: var(--sss-header-menu-link-color-active);
	}

	&._active {
		color: var(--sss-header-menu-link-color-active);
	}
}

.header {
	position: relative;
	z-index: 10;

	@include adaptiveValue('--sss-header-menu-height', 36, 60, 768, $min-outside: 48);

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(6);
		height: var(--sss-header-height);
		background: transparent;
		transition: background var(---sss-transition-time);

		.burger-open & {
			background: var(--sss-bg-primary);
		}
	}

	&__logo {
		position: relative;
		z-index: 2;
		display: flex;
		place-items: center;
		transition: opacity var(--sss-transition-time);

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.75;
			}
		}
	}

	&__image {
		position: relative;
		width: rem(82);
		aspect-ratio: 1;

		@include adaptiveValue('width', 62, 82, 768);

		img {
			position: absolute;
			top: 0;
			inset-inline-start: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		padding-top: 0.2em;
		font-family: var(--sss-font-secondary);
		font-weight: 700;
		line-height: 1.1;
		text-transform: capitalize;
		color: var(--sss-text-gray);

		@include adaptiveValue('font-size', 28, 32, 768, $min-outside: 32);
	}

	&__button {
		--sss-button-height: var(--sss-header-menu-height);

		margin-top: auto;

		@include adaptiveValue('--sss-button-font-size', 16, 20, 768, $min-outside: 20);

		@include breakpoint.tab {
			margin-top: 0;
		}
	}
}

.menu {
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: row;
	align-items: start;
	margin-top: var(--sss-header-height);
	padding: rem(12);
	background: var(--sss-bg-secondary);
	transform: translateX(var(--sss-header-menu-translateX, 100%));
	transition: transform var(--sss-transition-time);

	@include breakpoint.tab {
		position: static;
		flex-direction: column;
		align-items: center;
		height: var(--sss-header-menu-height);
		margin-top: 0;
		padding: rem(6);
		border-radius: calc(var(--sss-header-menu-height) / 2);
		background: var(--sss-bg-inverse);
		transform: none;
	}

	.burger-open & {
		--sss-header-menu-translateX: 0;
	}

	&__list {
		display: flex;
		flex: 1;
		flex-direction: column;
		height: 100%;

		@include adaptiveValue('gap', 4, 12, 768, $min-outside: 12);

		@include breakpoint.tab {
			flex: unset;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	&__item {
		@extend %menu-link;

		--sss-header-menu-border-color-active: rgb(255 255 255 / 0.85);

		width: 100%;
		border-bottom: 1px solid transparent;
		transition:
			border-color var(--sss-transition-time),
			color var(--sss-transition-time);

		@include breakpoint.tab {
			--sss-header-menu-border-color-active: rgb(0 0 0 / 0.85);

			height: 100%;
			border: 1px solid transparent;
			border-radius: calc(var(--sss-header-menu-height) / 2);
		}

		&._active {
			border-color: var(--sss-header-menu-border-color-active);
		}
	}

	&__link {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-block: rem(6);

		@include adaptiveValue('padding-inline', 6, 12, 768, $min-outside: 12);

		@include breakpoint.tab {
			justify-content: center;
			padding-block: rem(2);
		}
	}
}

.menu-dropdown {
	position: relative;
	display: flex;
	flex-direction: column;

	@include breakpoint.tab {
		flex-direction: row;
		align-items: center;
		height: 100%;
	}

	&:not(.is-touch &) {
		@media (any-hover: hover) {
			&:hover {
				--sss-menu-dropdown-op: 1;
				--sss-menu-dropdown-pointer-events: auto;
				--sss-icon-transform: rotate(180deg);
			}
		}
	}

	&._open {
		--sss-menu-dropdown-op: 1;
		--sss-menu-dropdown-pointer-events: auto;
		--sss-icon-transform: rotate(180deg);
	}

	&__trigger {
		@extend %menu-link;

		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(4);
		width: 100%;
		transition: color var(--sss-transition-time);

		@include breakpoint.tab {
			width: auto;
		}
	}

	&__arrow {
		--sss-icon-size: #{rem(20)};

		@include breakpoint.tab {
			--sss-icon-size: #{rem(15)};
		}
	}

	&__inner-items {
		display: grid;
		gap: rem(12);
		padding-top: rem(12);
		background: transparent;
		opacity: var(--sss-menu-dropdown-op, 0);
		transform: translateY(rem(-6));
		transition: opacity var(--sss-transition-time);
		pointer-events: var(--sss-menu-dropdown-pointer-events, none);

		@include breakpoint.tab {
			position: absolute;
			top: 100%;
			right: 0;
			gap: 0;
			background: var(--sss-bg-inverse);
		}
	}

	&__item {
		@extend %menu-link;

		font-size: rem(24);
		transition: color var(--sss-transition-time);

		@include breakpoint.tab {
			font-size: rem(18);
		}
	}

	&__link,
	&__drop-link {
		display: flex;
		align-items: center;
		width: 100%;

		@include breakpoint.tab {
			height: 100%;
		}
	}

	&__drop-link {
		justify-content: space-between;
		padding-block: rem(2);

		@include adaptiveValue('padding-inline', 6, 12, 768, $min-outside: 12);

		@include breakpoint.tab {
			justify-content: center;
		}
	}

	&__link {
		padding-inline-start: rem(24);

		@include breakpoint.tab {
			padding: 0 rem(12) rem(12);
		}
	}
}

.burger-menu {
	position: relative;
	z-index: 20;
	display: block;
	width: rem(30);
	height: rem(20);

	@include breakpoint.tab {
		display: none;
	}

	span,
	&::before,
	&::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: rem(2);
		background-color: var(--sss-text-primary);
		transition:
			transform var(--sss-transition-time),
			opacity var(--sss-transition-time);
		content: '';
	}

	&::before {
		top: 0;
	}

	span {
		top: calc(50% - #{rem(1)});
	}

	&::after {
		bottom: 0;
	}

	.burger-open & {
		span {
			opacity: 0;
		}

		&::before {
			top: calc(50% - #{rem(1)});
			transform: rotate(45deg);
		}

		&::after {
			bottom: calc(50% - #{rem(1)});
			transform: rotate(-45deg);
		}
	}
}
