$min-width: 320;
$max-width: 1600;
$max-width-container: 1400;
$max-padding: 30;
$min-padding: 15;
$container-padding: $max-padding * 2;
$container-width: $max-width-container + $container-padding;
$responsive-type: 1;
